modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 5002
externalPort = 3000

[[ports]]
localPort = 5003
externalPort = 3003

[[ports]]
localPort = 5004
externalPort = 3002

[[ports]]
localPort = 5005
externalPort = 5000

[[ports]]
localPort = 5006
externalPort = 5173

[[ports]]
localPort = 5904
externalPort = 4200

[[ports]]
localPort = 23636
externalPort = 6800

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "./dist/index.cjs"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
stack = "MOCKUP_JS"
mockupState = "FULLSTACK"
integrations = ["javascript_log_in_with_replit:2.0.0"]

[userenv]

[userenv.shared]
ABACATEPAY_API_KEY = "abc_dev_Lp3zmZf2JbwhSrMDtRzr1fts"
VAPID_PUBLIC_KEY = "BC_oHuly5xquzdqC61tQwoeg7pv9PnYn5aMnNSXAIzJKc-0ZNW8bCHlaSfLSOopH6zIkrVe0DNVhPl5WEmcAUKY"
VAPID_PRIVATE_KEY = "-UyqXcrID5MyXPeXLsjpEk8EsSvCTQ5rvOj-BtNVQSc"
GOOGLE_CLIENT_ID = "376587519485-an9p30conn0gk0hoou8a62977cphchan.apps.googleusercontent.com"
